* {
    box-sizing: border-box;
}

body {
    background-color: rgba(225, 224, 224, 0.951);
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}
