* {
    box-sizing: border-box;
    padding-inline-start: 0;
}

body {
    /* background-color: rgba(225, 224, 224, 0.951); */
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1, p {
    letter-spacing: 12px;
    color: white;
}

#loading-message {
    color: white;
      }


.button-class {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 2px dotted red;
    padding: 10px;
    cursor: pointer;

}

.button-class:hover {
    transform: scale(1.1);  
}