* {
    box-sizing: border-box;
    padding-inline-start: 0;
}

:root {
    --primary-text: 'Courier New', Courier, monospace;
    --secondary-text: 'VT323', monospace;
}

:root {
    --background-color: #121212;
    --text-color: #EDEDED;
    --text-button-color: #333333;
    --button-color: #e6a131;
    --secondary-color: #B71A2F;
    --third-color: #DA92AC;
    --links-color: #8095C5;
    --modal-background: #1E1E1E;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-text);
}

header nav.navbar {
    background-color: var(--secondary-color) !important;
    border: solid 3px var(--text-button-color);
}

header .container-fluid img {
    max-width: 40px;
    max-height: 40px;
}

h1 {
    letter-spacing: 0.8rem;
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}

.col-lg-3 {
    background-color: var(--secondary-color);
}

.list-group {
    background-color: #d9d9d9;
    gap: 5px;
    border: 1px solid #333333;
    height: 1140px;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: scroll;
}

.list-group-item {
    background-color: #d9d9d9;
    border: none;
    padding: 15px;
}

.btn {
    background-color: var(--button-color);
    font-family: var(--secondary-text);
    color: var(--background-color);
    font-size: 16px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;

}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--links-color);
    color: var(--button-color);
    border: 1px solid var(--secondary-color);
}

.modal-title {
    font-size: 1.8rem;
    font-style: oblique;
    color: var(--button-color);
}

.modal-body {
    color: var(--background-color);
}
