* {
    box-sizing: border-box;
    padding-inline-start: 0;
}

body {
    /* background-color: rgba(225, 224, 224, 0.951); */
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1, p {
    letter-spacing: 12px;
    color: white;
}

.button-class {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 2px dotted red;
    padding: 10px;
    cursor: pointer;

}

.button-class:hover {
    transform: scale(1.1);  
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    display: grid;
    text-align: center;
  }

  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal {
    margin: auto;
    display: block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  
  
  .modal h1 {
    color: black;
    text-align: center;
  }
  
  .modal p {
    color: black;
    text-align: center;
  }

  .modal img {
    text-align: center;
  }